@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/swiper";

html {
  font-size: $base-font-size;
//	font-family: 'LatoRegular', sans-serif;
	font-family: "PragmaticaSlab-ExtraLight", Arial, sans-serif;
	line-height: 1.65;
	-webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
	height: 100%;
	position: relative;
	z-index: 1;
	letter-spacing: 0.5px;
	&.no-scroll {
		position: fixed;
	}
	&.home-page {
		padding-top: 100vh;
	}
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

//ul, li {
//  list-style-type: none;
//  margin: 0;
//  padding: 0;
//}

a { text-decoration: none; }

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

.main {
	position: relative;
	z-index: 10;
	&__wrapper {
		background: #ffffff url(../images/general/pattern-dot-black.png) -16px -20px;
	}
}

@import "utils/slick";
@import "utils/slick-theme";

//Секции
@import "sections/sections";

//Модули
@import "modules/modules";
