header.header
	.header__fixed
		.swiper-container.header-slider
			.swiper-wrapper
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше
				.swiper-slide.header-slider__item
					.slide-inner
						.header__bg
						.header__over
						.header__content
							h1.header__title Международная клиника косметологии и дерматологии в Санкт-Петербурге
							p.header__subtitle Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу.
							a.header__btn(href="#") Узнать больше

	.header-count
		.header-count__wrap
			.header-count__current
			.header-count__summ /<span class="summ swiper-pagination-total"></span>
	.header-slider-arrow
		.header-slider-arrow__wrap
			.header-slider-arrow-btn-left.header-slider-arrow-btn
				+icon('left-arrow', '')
			.header-slider-arrow-btn-right.header-slider-arrow-btn
				+icon('right-arrow', '')
	.scroll
		a.scroll__text(href="#services") Услуги
		.scroll__symbol
			.scroll__circle
			.scroll__circle
			.scroll__circle
			.scroll__circle
	.header-deco
		.header-deco__wrap
	.header-share
		.header-share__wrap
			.header-share__items
				a.header-share__link(href="#")
					.header-share__icon
						+icon('instagram','')
				a.header-share__link(href="#")
					.header-share__icon
						+icon('whatsapp','')
				a.header-share__link(href="#")
					.header-share__icon
						+icon('youtube','')
				a.header-share__link(href="#")
					.header-share__icon
						+icon('facebook','')