header.header
	.header__bg
		.header__overlay
	.header__content
		h1.header__title Международная клиника косметологии и дерматологии премиум-класса
		a.header__btn(href="#") Записаться на прием
	.scroll
		.scroll__text Скролл
		.scroll__symbol
			.scroll__circle
			.scroll__circle
			.scroll__circle
			.scroll__circle
	.header-share
		.header-share__wrap
			.header-share__text СОЦСЕТИ
			.header-share__items
				a.header-share__link(href="#")
					.header-share__icon
						+icon('instagram','')
				a.header-share__link(href="#")
					.header-share__icon
						+icon('vk','')
				a.header-share__link(href="#")
					.header-share__icon
						+icon('facebook','')