mixin navItem(navLink, navName)
	a(href=navLink class="nav__link")= navName

nav.nav
	.nav__wrap
		.nav__menu
			+navItem("about.html", "О клинике")
			+navItem("services.html", "Услуги")
			+navItem("price.html", "Цены")
			+navItem("products.html", "Продукция")
			+navItem("doctors.html", "Врачи")
			+navItem("contacts.html", "Контакты")
			+navItem("#", "+7 (812) 946 43 66")
		.menu__btn Меню
			span
			span
			span
		.nav__logo
			a(href='index.html') My Stella Maris
