section.feedback
	.container
		.feedback__wrapper
			.feedback__header
				p.feedback__title Запишитесь на прием
				p.feedback__subtitle Мы перезвоним вам в ближайшее время и запишем к нужному специалиту. Так же вы можете записаться на прием по тел: <a href="tel:+78129464366">+7 (812) 946 43 66</a>

			form.form__form
				.form__fields
					.form__input-wrapper
						input.form__input(type="text" name="phone" placeholder="Имя: *")
				.form__fields
					.form__input-wrapper
						input.form__input(type="text" name="phone" placeholder="Телефон: *")
				.form__fields
					.form__input-wrapper
						input.form__input(type="text" name="phone" placeholder="Отделение")
				.form__fields
					.form__input-wrapper
						input.form__input(type="text" name="phone" placeholder="Удобная дата и время")
				button.button.form__submit Отправить