section.doctors
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Our Doctors', 'Наши врачи', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
		.doctors__wrapper
			.doctors__item
				.doctors-item__desc
					.doctors-item__image
						img(src="static/images/content/doctor_01.jpg" alt="Джулианна Соуза")
					p.doctors-item__name Джулианна Соуза
					ul.doctors-item__list
						li.doctors-item__text Далеко-далеко в стране
						li.doctors-item__text Словесными горами
						li.doctors-item__text Живут рыбные тексты
						li.doctors-item__text В буквенных домах
			.doctors__item
				.doctors-item__desc
					.doctors-item__image
						img(src="static/images/content/doctor_01.jpg" alt="Джулианна Соуза")
					p.doctors-item__name Джулианна Соуза
					ul.doctors-item__list
						li.doctors-item__text Далеко-далеко в стране
						li.doctors-item__text Словесными горами
						li.doctors-item__text Живут рыбные тексты
						li.doctors-item__text В буквенных домах
			.doctors__item
				.doctors-item__desc
					.doctors-item__image
						img(src="static/images/content/doctor_01.jpg" alt="Джулианна Соуза")
					p.doctors-item__name Джулианна Соуза
					ul.doctors-item__list
						li.doctors-item__text Далеко-далеко в стране
						li.doctors-item__text Словесными горами
						li.doctors-item__text Живут рыбные тексты
						li.doctors-item__text В буквенных домах
