section.advantages
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Advantages', 'Преимущества нашей клиники', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			
			#ho-slider.active
			#ho-slider-no-wrap.oh
				#ho-slider-no-base 00
				.ho-slider-no.first 01
				.ho-slider-no 02
				.ho-slider-no 03
				.ho-slider-no 04
				.ho-slider-no 05
				.ho-slider-no 06
				.ho-slider-no 07
				.ho-slider-no 08
				.ho-slider-no 09
				.ho-slider-no 10
				
			#ho-slider-frame
				#ho-slider-pagination-wrap.slider-pagination-wrap.slider-pagination-dark
					.slider-pagination.oh
						.slider-pagination-no-wrap
							.slider-pagination-base 00
							.slider-pagination-no 01
							.slider-pagination-no 02
							.slider-pagination-no 03
							.slider-pagination-no 04
							.slider-pagination-no 05
							.slider-pagination-no 06
							.slider-pagination-no 07
							.slider-pagination-no 08
							.slider-pagination-no 09
							.slider-pagination-no 10
						.slider-pagination-total / 10
					.slider-pagination-line-wrap.oh
						.slider-pagination-line
				#ho-slider-arrow-wrap.slider-arrow-wrap.oh
					#ho-slider-arrow-bg.slider-arrow-bg
					#ho-slider-arrow.slider-arrow
						#ho-slider-arrow-btn-left.ho-slider-arrow-btn.slider-arrow-btn.slider-arrow-btn-left
							+icon('left-arrow', '')
						#ho-slider-arrow-btn-right.ho-slider-arrow-btn.slider-arrow-btn.slider-arrow-btn-right
							+icon('right-arrow', '')
						.slider-arrow-line
				#ho-slider-title-top-wrap
					#ho-slider-title-top-line-wrap.oh
						#ho-slider-title-top-line
					#ho-slider-title-top-base &amp;&nbsp;The&nbsp;Extra&nbsp;Mile&nbsp;Makes
					.ho-slider-title-top Далеко-далеко 1
					.ho-slider-title-top Далеко-далеко 2
					.ho-slider-title-top Далеко-далеко 3
					.ho-slider-title-top Далеко-далеко 4
					.ho-slider-title-top Далеко-далеко 5
					.ho-slider-title-top Далеко-далеко 6
					.ho-slider-title-top Далеко-далеко 7
					.ho-slider-title-top Далеко-далеко 8
					.ho-slider-title-top Далеко-далеко 9
					.ho-slider-title-top Далеко-далеко 10
				#ho-slider-txt-wrap
					.ho-slider-txt
						p 1 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 2 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 3 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 4 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 5 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 6 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 7 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 8 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 9 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
					.ho-slider-txt
						p 10 Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
				img#ho-slider-img-0(src="static/images/content/interior2.jpg" alt="" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);")
				img#ho-slider-img-1(src="static/images/content/interior2.jpg" alt="" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);")
				
				