mixin teamItem(teamItemImg, teamItemName, teamItemPosition)
	.team__item
		.team-item__image
			img(src=teamItemImg alt=teamItemName)
		.team-item__desc
			.p.team-item__name= teamItemName
			.p.team-item__position= teamItemPosition

section.about
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Our Doctors', 'Наши врачи', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.about__cols
				.about__left
					.about__left-image
						img(src="static/images/content/image.png" alt="Джулианна Соуза")
						p.about__name Джулианна Соуза
						p.about__position Главный идеолог
				.about__right
					p.about__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.
					
section.team
	.container
		.team__wrapper
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")
			+teamItem("static/images/content/image.png", "Джулианна Соуза", "Главный идеолог")