section.products
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Products', 'Продукция', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.product__items
				+productItemHome("background-image: url(static/images/content/we1_auto_288_png.png)", "Men Pure-formance Men's Aftershave", "Увлажняющий лосьон после бритья", "#")
				+productItemHome("background-image: url(static/images/content/aveda_men_pure-formance_composition_oil_soldier_image_auto_288_png.png)", "Men Pure-formance Composition", "Питает и увлажняет волосы, кожу головы и тела", "#")
				+productItemHome("background-image: url(static/images/content/1234rr_auto_288_png.png)", "Pure-formance Men's Exfoliating Shampoo", "Оказывает отшелушивающее воздействие, смягчает и оздоравливает кожу головы", "#")
				+productItemHome("background-image: url(static/images/content/1qa_auto_288_png.png)", "Invati Nourishing Exfoliating Shampoo", "Помогает надолго сохранить естественную густоту волос", "#")
			a.product__btn(href="#")
				span Смотреть все продукты<span class="arrow"></span>