section.atmosphere
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Atmosphere', 'Атмосфера', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.atmosphere__content
				.deco-border
				+atmosphereItemHome("#", "01", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "02", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "03", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "04", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "05", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "06", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "07", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "08", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "09", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "10", "background-image: url('static/images/content/interior2.jpg');")
				+atmosphereItemHome("#", "11", "background-image: url('static/images/content/interior2.jpg');")