

section.services
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Services', 'Широкий спектр услуг', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.services__items
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Косметология", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Дерматология", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Трихология", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Эндокринология/ Диетология", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Остеопатия", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")
				+servicesItemHome("#", "static/images/content/cosm.jpg", "Массаж", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.", "Уходовые процедуры", "Фотоэпиляция", "Фотоомоложение", "Эндермология (LPG)", "Химические пилинги")