section.services
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Services', 'Косметология', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.services__items
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Уходовые процедуры", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Фотоэпиляция", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Фотоомоложение", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Эндермология (LPG)", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Химические пилинги", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")
				+servicesItemInner("#", "static/images/content/cosm.jpg", "Химические пилинги", "Безопасная пластическая хирургия. Все виды пластических и реконструктивных операций на лице и теле.")