section.price
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Price', 'Стоимость услуг', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.price__tab
				+priceItem("Лапароскопическая холецистэктомия - 2 категории сложности (инфильтрат, рубцово-спаечный процесс в области желчного пузыря, операции при остром холецистите)", "50000 руб.", "#", "")
				+priceItem("Лапароскопическая холецистэктомия - 1 категории сложности (плановые операция без рубцово-спаечного процесса в области желчного пузыря)", "35000 руб.", "#", "")
				+priceItem("Аппендэктомия, осложненная перитонитом лапаротомным доступом", "25000 руб.", "#", "")
				+priceItem("Устранение ущемленной грыжи передней брюшной стенки с резекцией кишки", "25000 руб.", "#", "")
				+priceItem("Устранение паховой или бедренной грыжи", "18000 руб.", "#", "")
				+priceItem("Операции при кистах поджелудочной железы лапаротомным доступом", "30000 руб.", "#", "")
				+priceItem("Лапароскопическое дренирование кисты поджелудочной железы", "27000 руб.", "#", "")
				+priceItem("Лапароскопическая дистальная резекция поджелудочной железы", "31000 руб.", "#", "")
				+priceItem("Дистальная резекция поджелудочной железы лапаротомным доступом", "21000 руб.", "#", "")