section.specialists
	.container
		.section__wrapper.anim-title-bg
			+sectionTitle('Specialists', 'Специалисты', 'Далеко-далеко за словесными горами в стране гласных и согласных.' )
			.specialists__items
				+specialistsSlide("static/images/content/image.png", "Джулианна Соуза Анатольевна", "Дерматолог-косметолог", "Заведующая отделением косметологии", "Первичный приём 1500 руб.")
				+specialistsSlide("static/images/content/image.png", "Джулианна Соуза Анатольевна", "Дерматолог-косметолог", "Заведующая отделением косметологии", "Первичный приём 1500 руб.")
				+specialistsSlide("static/images/content/image.png", "Джулианна Соуза Анатольевна", "Дерматолог-косметолог", "Заведующая отделением косметологии", "Первичный приём 1500 руб.")
				+specialistsSlide("static/images/content/image.png", "Джулианна Соуза Анатольевна", "Дерматолог-косметолог", "Заведующая отделением косметологии", "Первичный приём 1500 руб.")
				+specialistsSlide("static/images/content/image.png", "Джулианна Соуза Анатольевна", "Дерматолог-косметолог", "Заведующая отделением косметологии", "Первичный приём 1500 руб.")