extends template/inner

block variables
	- var title = 'Stella Maris | Услуги'
	- var pageClass = 'inner-page'

block content
	include includes/home-doctors
	include includes/section_specialists
	include includes/feedback