extends template/main

block variables
	- var title = 'Stella Maris | Главная страница'
	- var pageClass = 'home-page'

block content
	include includes/home-services
	include includes/home-products
	include includes/home-atmosphere
	include includes/home-advantages
	include includes/home-about
	include includes/feedback
	include includes/home-instagram