extends template/inner

block variables
	- var title = 'Stella Maris | Продукция'
	- var pageClass = 'inner-page'

block content
	include includes/section_services
	include includes/section_specialists
	include includes/section_price
	include includes/feedback