@font-face {
	font-family: 'LatoRegular';
	src: url('../fonts/LatoRegular/LatoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MrsSaintDelafield-Regular';
	src: url('../fonts/MrsSaintDelafield-Regular/MrsSaintDelafield-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PragmaticaSlab-ExtraLight';
	src: url('../fonts/PragmaticaSlab-ExtraLight/PragmaticaSlab-ExtraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PragmaticaSlab-Light';
	src: url('../fonts/PragmaticaSlab-Light/PragmaticaSlab-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}