.main-menu {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #ffffff url(../images/general/pattern-dot-black.png) -16px -20px;
	display: none;
	&.active {
		display: block;
	}
	&__wrapper {
		height: 100%;
		display: flex;
		width: 1100px;
		margin: 0 auto;
		flex-direction: column;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__col {
		ul {
			list-style: none;
			padding: 0;
			li {
				padding: 5px 0;
			}
		}
	}
	&__link {
		font-family: "PragmaticaSlab-ExtraLight", sans-serif;
		color: #000000;
		position: relative;
		display: block;
		transition: all 0.2s;
		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 0px;
			height: 1px;
			background: #333333;
			left: -50px;
			top: 50%;
			transition: all 0.25s linear;
		}
		&:hover {
			color: #000000;
			text-decoration: none;
			&:after {
				width: 20px;
				height: 1px;
				left: -40px;
			}
		}
	}
	&__title {
		position: relative;
		font-size: 18px;
		text-transform: uppercase;
		color: #000000;
		transition: all 0.2s;
		&:after {
			position: absolute;
			display: block;
			content: '';
			width: 40px;
			height: 1px;
			background: #333333;
			left: -60px;
			top: 50%;
		}
		&:hover {
			color: #000000;
			text-decoration: none;
			font-weight: 700;
			&:after {
				width: 40px;
				left: -60px;
			}
		}
	}
}
.menu-close {
	position: absolute;
	right: 15px;
	top: 15px;
	display: flex;
	align-items: center;
	line-height: 30px;
	cursor: pointer;
	&__btn {
		position: relative;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		span:nth-child(1) {
			display: block;
			width: 30px;
			height: 1px;
			background: #000000;
			transform: rotate(45deg);
			position: absolute;
			top: 50%;
		}
		span:nth-child(2) {
			display: block;
			width: 30px;
			height: 1px;
			background: #000000;
			transform: rotate(-45deg);
			position: absolute;
			top: 50%;
		}
	}
}
.menu-logo {
	font-family: "MrsSaintDelafield-Regular", sans-serif;
	font-size: 100px;
	height: 100px;
	margin: 50px 0 30px;
	img {
		height: 100%;
		display: block;
	}
}
.menu-bottom__row {
	display: flex;
	font-family: PragmaticaSlab-ExtraLight, sans-serif;
}
.menu-form__row {
	display: flex;
	margin-top: 30px;
	.form_btn {
		width: 270px;
		background: transparent;
		border: none;
		cursor: pointer;
		height: 70px;
		position: relative;
		display: flex;
		align-items: center;
		.arrow {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			padding: 0;
			cursor: pointer;
			color: transparent;
			border: none;
			outline: 0;
			background: 0 0;
			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				top: 50%;
				-webkit-transform: rotate(45deg) translateY(-50%);
				-ms-transform: rotate(45deg) translateY(-50%);
				transform: rotate(45deg) translateY(-50%);
				opacity: 1;
				color: #fff;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				right: 8px;
				border-right: 1px solid #333;
				border-top: 1px solid #333;
				transition: right 0.25s linear;
			}
			&:after {
				position: absolute;
				content: '';
				display: block;
				width: 26px;
				height: 1px;
				background: #333;
				top: 50%;
				left: 7px;
				transition: left 0.25s linear;
			}
		}
		&:hover {
			font-weight: 700;
			.arrow {
				&:before {
					right: 0px;
				}
				&:after {
					left: 15px;
				}
			}
		}
	}
}
.menu-form {
	width: 930px;
	&__item {
		display: flex;
		flex-wrap: wrap;
	}
	&__input {
		margin-top: 20px;
		width: 270px;
		border: none;
		border-bottom: 1px solid #999999;
		padding: 0 5px;
		&:first-child {
			margin-right: 20px;
		}
	}
	&__label{
		margin-top: 15px;
		a {
			color: #000000;
			transition: all 0.25s linear;
			&:hover {
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}
.menu__contact {
	width: 240px;
	margin-right: 30px;
	.contacts_text {
		color: #000000;
		a {
			color: #000000;
			transition: all 0.25s linear;
			&:hover {
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}